@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
ul {
  list-style: none;
}
header {
  background-image: url("../imgs/hero\ img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .container {
  padding: 36px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container ul {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
}
.bars {
  display: none;
}
nav .container ul li {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .container ul li::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translate(-50%);
  bottom: -6px;
  background-color: #f84646;
}
nav .container ul li:hover::after {
  width: 100%;
}
nav .container ul li:hover {
  color: #f84646;
}
nav .container button {
  padding: 10px 20px;
  background-color: #f84646;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .container button:hover {
  transform: scale(1.2);
}
nav .container button:active {
  transform: scale(0.9);
}
.hero .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero .hero_info {
  width: 660px;
}
.hero .container .hero_info h1 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}
.hero .container .hero_info p {
  font-weight: 400;
  font-size: 20px;
}
.hero .container form {
  width: 410px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
.hero .container form input {
  padding: 10px 20px;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #f84646;
  background-color: transparent;
}
.hero .container form button {
  padding: 10px 10px;
  border: none;
  background-color: white;
  background-color: #f84646;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.s1 .container {
  margin: 0px auto;
  padding: 100px 130px;
}
.s1 .container .text {
  text-align: center;
}
.s1 .container .text h2 {
  font-weight: 900;
  padding-bottom: 30px;
}
.s1 .container .boxs .card {
  margin-top: 50px;
  width: 275px;
  text-align: center;
  height: 200px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}
.s1 .container .boxs {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.s1 .container .boxs .card .circle {
  width: 40px;
  height: 40px;
  background-color: #ff5391;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  z-index: -1;
  transition: all 0.3s ease;
}
.s1 .container .boxs .card:nth-of-type(2) .circle {
  position: absolute;
  right: 140px;
  background-color: #7553ff;
}
.s1 .container .boxs .card:nth-of-type(3) .circle {
  width: 40px;
  height: 40px;
  background-color: #53c1ff;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  z-index: -1;
}
.s1 .container .boxs .card:nth-of-type(4) .circle {
  width: 40px;
  height: 40px;
  background-color: #53c1ff;
  border-radius: 50%;
  position: absolute;
  right: 132px;
  z-index: -1;
}
.s1 .container .boxs .card:nth-of-type(5) .circle {
  width: 40px;
  height: 40px;
  background-color: #ff5353;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  z-index: -1;
}
.s1 .container .boxs .card:nth-of-type(6) .circle {
  width: 40px;
  height: 40px;
  background-color: #ffba53;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  bottom: 85%;
  z-index: -1;
}
.s1 .container .boxs .card:hover .circle {
  background-color: #f84646;
  animation: circle 0.9s linear infinite;
}
@keyframes circle {
  0% {
    transform: translate(-50px);
  }
  25% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateX(50px);
  }
  75% {
    transform: translateZ(50px);
  }
  100% {
    transform: translate(-50px);
  }
}

.s2 {
  background-color: #f84646;
}
.s2 .container {
  padding: 20px 80px;
}
.s2 .container .text {
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  color: white;
}
.s2 .container .text p {
  font-weight: 400;
  padding-bottom: 30px;
}
.s2 .container .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  color: white;
}
.s3 .container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.s3 .container .card {
  width: 530px;
  height: 430px;
  padding-right: 50px;
  padding-bottom: 100px;
}
.s3 .container .card h1 {
  font-size: 50px;
  padding-bottom: 30px;
}
.s3 .container .card p {
  line-height: 30px;
  padding-bottom: 30px;
  color: #808080;
}
.s3 .container .card button {
  padding: 10px 50px;
  border-radius: 8px;
  border: none;
  background-color: #f84646;
  color: white;
  transition: all 0.3s ease;
  margin-bottom: 70px;
}
.s3 .container .card button:hover {
  transform: scale(1.1);
}
.s3 .container .card button:active {
  transform: scale(0.9);
}
.s3 .container .card img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.s3 .container .card:nth-of-type(3) {
  margin-top: 70px;
}

.sponsors {
  background-color: #f4f5f7;
  text-align: center;
  padding: 100px 0px;
}
.sponsors .sponsors_title h1 {
  color: #18191f;
  font-size: 48px;
  font-weight: 800;
}
.sponsors .sponsors_title p {
  color: #18191f;
  font-size: 18px;
  font-weight: 500;
}
.sponsors .sponsors_boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}
.sponsors_boxs .sponsors_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sponsors_card {
  width: 150px;
  height: 96px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.sponsors_card img {
  width: 100%;
  height: 100%;
}
.s4 .container {
  text-align: center;
  margin-top: 100px;
  line-height: 50px;
  position: relative;
  z-index: 3;
  margin-bottom: 100px;
}
.s4 .container button {
  padding: 15px 35px;
  border: none;
  background-color: #f84646;
  color: white;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.s4 .container button:hover {
  transform: scale(1.1);
}
.s4 .container button:active {
  transform: scale(0.9);
}
.s4 .container .circle {
  width: 45px;
  height: 45px;
  background-color: #f84646;
  border-radius: 50%;
  position: absolute;
  left: 595px;
  top: 20px;
  z-index: -2;
}
.s4 .container:hover .circle{
  animation: circle .9s linear infinite;
}
footer {
  background-color: #f84646;
  color: white;
  padding-top: 40px;
}
footer .container .boxs {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .container .card ul {
  line-height: 50px;
  padding-bottom: 20px;
}
footer .container .card ul li:nth-of-type(1) {
  font-weight: 800;
}
footer .container .card ul li {
  font-weight: 300;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
footer .container ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: white;
  transform: translate(-50%);
  transition: all 0.3s ease;
}
footer .container .card ul li:hover::after {
  width: 100%;
}
footer .container .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
footer .container .text ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 700px) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .container button {
    background-color: darkblue;
  }
  .bars {
    display: block;
  }
  nav .container ul {
    display: none;
  }
  nav .container button {
    background-color: darkblue;
  }
  .hero .container {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .hero .container .hero_info {
    width: 100%;
    text-align: center;
  }
  .hero .container .hero_info h1 {
    font-size: 30px;
  }
  .hero .container form {
    width: 80%;
    margin: 20px auto;
  }
  .hero .container form input {
    font-size: 12px;
    width: 50%;
  }
  .s2 .container .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
  .s2 .container .links i {
    transform: rotate(90deg);
  }
  .s3 .container {
    text-align: center;
  }
  .s3 .container .card h1 {
    font-size: 30px;
  }
  .s3 .container .card button {
    background-color: darkblue;
  }
  .sponsors .container {
    width: 100%;
    text-align: center;
  }
  .sponsors .container .sponsors_title h1 {
    font-size: 30px;
    padding-top: 0px;
  }
  .sponsors .container .sponsors_boxs {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
  }
  .sponsors .container .sponsors_boxs .sponsors_cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .s4 .container {
    width: 100%;
  }
  .s4 .container .circle {
    position: absolute;
    left: 200px;
  }
  .s4 .container:hover .circle {
    animation: circle 0.9s linear infinite;
    color: darkblue;
  }
  .s4 .container button{
    background-color: darkblue;
  }
  footer .container .boxs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px auto;
    align-items: center;
  }
}
